@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #7c3039;
}

button {
  font-family: 'Indie Flower', cursive;
}
input::placeholder{
  font-family: 'Indie Flower', cursive;

}